# Redirect all HTTP to HTTPS
:80 {
  redir https://{host}{uri}
}

# Root domain (homepage)
yangpenting.fun {
  root * /usr/share/caddy
  file_server
}

# Portainer
portainer.yangpenting.fun {
  reverse_proxy portainer:9000
}

# MinIO
minio.yangpenting.fun {
  reverse_proxy minio:9000
}
