# Redirect all HTTP to HTTPS
:80 {
  redir https://{host}{uri}
}

# Portainer
portainer.yangpenting.fun {
  reverse_proxy portainer:9000
}

# MinIO
minio.yangpenting.fun {
  reverse_proxy minio:9000
}

# Postgresql
psql.yangpenting.fun {
  reverse_proxy psql:5432
}
