# Redirect all HTTP to HTTPS
:80 {
  redir https://{host}{uri}
}

# Root domain (homepage)
yangpenting.fun {
  root * /usr/share/caddy
  file_server
}

# Portainer
portainer.yangpenting.fun {
  reverse_proxy portainer:9000
}

# MinIO
minio-api.yangpenting.fun {
  reverse_proxy minio:9000
}

minio.yangpenting.fun {
  reverse_proxy minio:9001
}

# Postgresql
psql.yangpenting.fun {
  reverse_proxy postgres:5432
}

# RabbitMQ Management UI
mq.yangpenting.fun {
  reverse_proxy rabbitmq:15672
}

# Jaeger UI
jaeger.yangpenting.fun {
  reverse_proxy jaeger:16686
}

# Redis
redis.yangpenting.fun {
  reverse_proxy redis:6379
}

redis-ui.yangpenting.fun {
  reverse_proxy redis-commander:6380
}

# N8N
n8n.yangpenting.fun {
  reverse_proxy n8n:5678
}

# Digital Learning
digilearn-api.yangpenting.fun {
  reverse_proxy face-recognition-svc:8001
}

digilearn.yangpenting.fun {
  reverse_proxy digital-learning-ui:3001
}